<p id="notice"><%= notice %></p>
<main class=" bg-gray-200 min-w-full flex  justify-center items-center flex-col">
  <h1 class="font-heading text-6xl text-red-600 m-5">Categories</h1>

    <%# Category cards grid %>
    <div class="flex flex-wrap justify-center min-w-full">
      <% @categories.each do |category| %>
        <%= link_to category.category_name, category_path(category.id), class: 'font-heading text-4xl p-10 bg-red-500 hover:bg-red-700 text-white text-2xl container shadow-md max-w-xs flex flex-col  m-10 justify-center items-center rounded-md' %>
      <% end %>
    </div>

  <br>
  <%# Show admin actions if user is an admin  %>
  <% if current_user.try(:admin?) %>
  <%= link_to 'New Category', new_category_path, class: "m-5 px-4 py-2 bg-red-600 rounded-xl text-white font-semibold shadow-lg hover:bg-red-900" %>
  <% end %>
</main>